.booking-h1{
  text-align: center;
}
.bookingForm{
  margin-top: 25px;
}
.booking-col{
margin: 10px;
/* text-align: center; */
}
.booking-input{
  border-color: grey;
  border-radius: 20px;
}
.addBtn-div{
  text-align: center;
}
.form-btns{
  background-color: #c1191f;
  border-color: #c1191f;
  border-radius: 35px;
  font-weight: bold;
}
.terms-conditions{
  margin-top: 25px;
}
.checkBtns-div{
  text-align: center;
}

