.header-span{
    color: #fff;
    font-weight: bold;
    text-shadow: 1px 1px #000;
    padding-left: 10px;
}
.explore-span{
    color: #fff;
    font-weight: bold;
    text-shadow: 1px 1px #000;
    font-family: 'Style Script', cursive;
    font-size: 40px;
}
.flight-logo{
    color: #c1191f;
}
.headerLink:hover{
    text-decoration: none;
}
.header-links{
    margin: 10px;
}
.modal-btn{
    background-color: #c1191f;
    border-color: #c1191f;
    border-radius: 35px;
    font-weight: bold;
}

@media(max-width:767px){
    .explore-span{
        font-size: 30px;
    }   
}